.ghost {
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: space-between;
  opacity: 0%;
}

.ghost img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.ghost-content {
  padding: 0px;
  text-align: left;
  margin: 10px;
}

.ghost-description {
  text-align: left;
  align-items: left;
}

.ghost h3 {
  margin-left: 75px;
  font-size: 18px;
  text-align: center;
  position: absolute;
}

.ghost p {
  margin-bottom: 10px;
  margin-top: 0px;
  align-items: center;
  font-size: 14px;
}

.ghost a {
  display: block;
  text-align: left;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}

.ghost a:hover {
  text-decoration: underline;
}

.ghost-category-text {
  margin: auto;
  opacity: 75%;
  background-color: rgb(167, 241, 241);
  border-radius: 5px;
}

.ghost-category {
  position: absolute;
  margin-left: 222px;
  opacity: 75%;
  background-color: rgb(167, 241, 241);
  padding: 5px;
  height: 20px;
}

.ghost-banner {
  padding: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 95%;
}

h4 {
  margin-bottom: 0;
}

.ghost-document-card-header {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  width: 82%;
  margin: 10px;
}

.ghost-document-card-header h3 {
  padding: 5px;
  font-size: 18px;
}

.ghost-title {
  padding-left: 10px;
}
