.document-card {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: auto;
}

.document-card img {
  max-width: 100%;
  height: auto;
}

.document-card-header {
  display: flex;
  align-items: center;
}

.document-card-header h3 {
  padding: 5px;
  font-size: 18px;
}

.document-card-content {
  padding: 10px;
}

.document-card p {
  margin: 10px 0;
  font-size: 14px;
}

.document-card a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.document-card a:hover {
  text-decoration: underline;
}

.docImage {
  width: 50px;
  border-radius: 5px;
}

