.document-card1 {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: auto;  
}

.document-card1 img {
  max-width: 100%;
  height: auto;
  
}

.document-card-header1 {
  display: flex;
  align-items: center;
}

.document-card-header1 h3 {
  margin-left: 10px;
  font-size: 18px;
}

.card-content1 {
  padding: 10px;
  display: flex;
  
}

.document-card1 p {
  margin: 10px 0;
  font-size: 14px;
}

.document-card1 a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.document-card1 a:hover {
  text-decoration: underline;
}

.docImage1 {
  width: 50px;
  border-radius: 5px;
}
.document-card1{
  background-color: blueviolet;
}