.document-cardS {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: auto;  
}

.document-cardS img {
  max-width: 100%;
  height: auto;
  
}

.document-card-headerS {
  display: flex;
  align-items: center;
}

.document-card-headerS h3 {
  margin-left: 10px;
  font-size: 18px;
}

.card-contentS {
  padding: 10px;
  display: flex;
  
}

.document-cardS p {
  margin: 10px 0;
  font-size: 14px;
}

.document-cardS a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.document-cardS a:hover {
  text-decoration: underline;
}

.docImageS {
  width: 50px;
  border-radius: 5px;
}
.document-cardS{
  background-color: blueviolet;
}