.navbar2 {
  background-color: rgb(223, 223, 223);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-bottom: 1px solid rgb(202, 202, 202);
  padding-bottom: 25px;
  padding-left: 5px;
  justify-content: center;

}

.nav-list2 {
  list-style-type: none;
  display: flex;
  justify-content: left;
  gap: 5rem;
  font-weight: bold;

}

.nav-item2 {
  margin-left: -25px;
  cursor: pointer;
}

.nav-item2.active {
  color: #ff0000;
}

.nav-item2 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-item2:hover {
  color: #ff9800;
}
