.App {
  margin: auto;
  text-align: center;
  background-color: rgb(223, 223, 223);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cards-section {
  display: flex;
  grid-template-columns: 40%;
  gap: 5px;
  padding-left: 50px;
  justify-content: space-between; 
}

.main-window {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.document-section {
  display: flex;
  flex-direction: column;
  padding-left: 75px;
}

.side-window {
  display: flex;
  width: 25vw;
  flex-direction: column;
  /* align-items: flex-end; */
}
