.App {
  text-align: center;
  margin: 5rem;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 
.main-window{
  display: flex;
  flex-direction: column;
}   */

.cards-section {
  /* margin:5rem; */
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: top;
  justify-content: top;
}

.intermiadiate-section {
  display: flex;
  flex-direction: column;
  flex-direction: row;

}